<div class="col-md-5 offset-md-1">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="usuario.nombreUser"  placeholder="name" class="form-control" autofocus>
        </div>
  <br>
  <div class="form-group">
    <input type="text" name="apellido" [(ngModel)]="usuario.apellidoUser"  placeholder="apellido" class="form-control" autofocus>
  </div>
  <br>
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="usuario.tituloUser"  placeholder="Title" class="form-control" autofocus>
        </div>
  <br>
        <div class="form-group  ">
          <textarea name="description" [(ngModel)]="usuario.descripcionUser"     placeholder="Description" cols="50" rows="7"   class="from-control" ></textarea>
        </div>
  <br>
        <div class="form-group" >
          <input type="url" name="image"  [(ngModel)]="usuario.imagenUser"     placeholder="Image"    class="form-control"  autofocus>
        </div>
  <br>
        <button  class="btn btn-success btn-block"  type="button"   (click)=" edit ? updateUsuario() : saveNewUsuario()" > SAVE </button>
      </form>
    </div>
  </div>
  </div>
  <br>
  <br>
  <div class="col-md-4  offset-md-1 ">
    <div class="card card-body text-center">
    <img [src]="usuario.imagenUser == '' ? '/assets/imagen por defecto en el formulario.png' : usuario.imagenUser" alt="No Image" class="card-img-top">
    <h3>{{usuario.idUser}}. {{usuario.nombreUser  == '' ? 'Usuario Nombre' : usuario.nombreUser}}</h3>
    <h3>{{usuario.idUser}}. {{usuario.apellidoUser  == '' ? 'Usuario Apellido' : usuario.apellidoUser}}</h3>
      <h3>{{usuario.idUser}}. {{usuario.tituloUser  == '' ? 'Usuario Titulo' : usuario.tituloUser}}</h3>
      <p>{{usuario.descripcionUser == '' ? ' Escribe tu descripcion' : usuario.descripcionUser}}</p>
    </div>
  </div>

