<div class="col-md-5 offset-md-1">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="experiencia.tituloExp"  placeholder="Title" class="form-control" autofocus>
        </div>
  <br>
        <div class="form-group  ">
          <textarea name="description" [(ngModel)]="experiencia.descripcionExp"     placeholder="Description" cols="50" rows="7"   class="from-control" ></textarea>
        </div>
  <br>
        <div class="form-group" >
          <input type="url" name="image"  [(ngModel)]="experiencia.imagenExp"     placeholder="Image"    class="form-control"  autofocus>
        </div>
  <br>
        <button  class="btn btn-success btn-block"  type="button"   (click)=" edit ? updateExperiencia() : saveNewExperiencia()" > SAVE </button>
      </form>
    </div>
  </div>
  </div>
  <br>
  <br>
  <div class="col-md-4  offset-md-1 ">
    <div class="card card-body text-center">
    <img [src]="experiencia.imagenExp == '' ? '/assets/imagen por defecto en el formulario.png' : experiencia.imagenExp" alt="No Image" class="card-img-top">
      <h3>{{experiencia.idExp}}. {{experiencia.tituloExp == '' ? 'Experiencia Titulo' : experiencia.tituloExp}}</h3>
      <p>{{experiencia.descripcionExp == '' ? ' Escribe tu descripcion' : experiencia.descripcionExp}}</p>
    </div>
  </div>

