<div class="min-vh-100 container-fuild">
  <div class="tarjeta">
      <div class="row">
          <div class="col-md-12 col-lg-6">
              <div class="mensaje">
                  <div class="centrar">
                      <p>dime quien eres y te mostrare el
                      <span>cambio</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-12 col-lg-6">
              <div class="login">
                  <div class="centrar">
                      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                          <label class="form-label" for="email">Email</label>
                          <input type="email" id="email" name="email" class="form-control form-control-lg" [(ngModel)]="email" required/>
                          <label class="form-label" for="password">Password</label>
                          <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required/>
                          <button class="boton" type="submit">Iniciar sesion</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






<!---<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!---<div class="wrapper fadeInDown">
  <div id="formContent">
     Tabs Titles -->

    <!-- Icon
    <div class="fadeIn first">
      <img src="../../../assets/foto.jpg" id="icon" alt="User Icon" />
    </div>--->

    <!-- Login Form
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>-->

    <!-- Remind Passowrd
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>-->




<!---<app-acerca-de></app-acerca-de>
<app-form-experiencia></app-form-experiencia>
<app-form-educacion></app-form-educacion>
<app-form-habilidades-duras-blandas></app-form-habilidades-duras-blandas>
<app-form-proyecto></app-form-proyecto>
<app-form-banner></app-form-banner>-->
